.container{
    background-color: rgb(231, 137, 231);
    color: purple;
    height: 100vh;

}
.title{
    color: purple;
    background-color: rgb(187, 89, 187);
    text-align: center;
    font-size: 40px;
}
.cont4{
 
    padding: 10px;
    text-decoration: underline;
}
