@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar,li{
  display:flex;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  

}

.home{
  text-align: center;
  background-color: rgb(138, 196, 230);
  font-size: 40px;
}
