@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-container{
  display:flex;
  justify-content:space-between;
  padding: 10px;
  font-weight: bold;
  align-items: center;
  

}

.home{
  text-align: center;
  background-color: rgb(138, 196, 230);
  font-size: 40px;
}
 .main{
  background-color: rgb(230, 129, 129);
  height: 100vh;
 }

 .nav-links{
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 10px;
  text-decoration: underline;

 }